@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");

* {
    padding: 0;
    margin: 0;
}

.foto-diri {
    margin-top: 120px;
    display: flex;
    justify-content: center;
}

.nama {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: 600;
}

.sub-nama {
    line-height: 10px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 400;
}

.sosmed {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.alamat {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.alamat p {
    text-decoration: underline;
    text-underline-offset: 7px;
    font-size: 20px;
    font-weight: 400;
}

.email {
    line-height: 10px;
    display: flex;
    justify-content: end;
    gap: 10px;
}

.email .titik {
    margin-top: 5px;
}

.email a {
    text-underline-offset: 7px;
    font-weight: 400;
    text-decoration: underline;
    color: black;
    font-weight: 450;
}

.motivasi {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.motivasi p {
    font-size: 25px;
    font-weight: 450;
}

.kemampuan {
    margin-top: 100px;
}

.judul p {
    font-size: 35px;
    font-weight: 500;
}

.judul span {
    margin-left: 20px;
    font-weight: 499;
    font-size: 22px;
    line-height: 5px;
}

.content {
    display: flex;
    justify-content: start;
    margin-left: 20px;
    margin-top: 20px;
}

.content .kiri span {
    font-weight: 499;
    line-height: 50px;
    font-size: 18px;
    margin-right: 500px;
}

.content .kanan span {
    font-weight: 499;
    line-height: 50px;
    font-size: 18px;
}

.p-1-kiri p {
    margin-left: 30px;
    font-size: 23px;
    line-height: 30px;
}

.p-posisi {
    line-height: 5px;
    margin-left: 105px;
    font-size: 18px;
}

.p-1-kanan img {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
}

.sekolah-1 span {
    font-size: 30px;
    font-weight: 500;
}

.s-1-tengah {
    margin-left: 270px;
}

.s-jurusan {
    line-height: 1px;
    margin-left: 20px;
    font-size: 20px;
}

.s-1-kanan img {
    display: flex;
    justify-content: space-between;
    margin-left: 280px;
}

.s-2-tengah {
    margin-left: 190px;
}

.s-jurusan {
    line-height: 1px;
    margin-left: 20px;
    font-size: 20px;
}

.s-2-kanan img {
    display: flex;
    justify-content: space-between;
    margin-left: 265px;
}

@media screen and (max-width: 800px) {
    .foto-diri {
        margin-top: 100px;
    }
    .foto-diri img {
        width: 180px;
        height: 180px;
    }

    .nama p {
        font-size: 30px;
    }

    .sub-nama p {
        line-height: 5px;
        font-size: 20px;
    }

    .sosmed img {
        width: 35px;
        height: 35px;
    }
    .sosmed {
        margin-top: 70px;
    }
    .alamat img {
        width: 13px;
        height: 20px;
    }

    .alamat p {
        font-size: 14px;
    }

    .alamat {
        margin-top: 70px;
    }

    .email {
        display: flex;
        justify-content: center;
        font-size: 12px;
    }

    .email .pesan img {
        width: 10px;
        height: 10px;
    }

    .motivasi {
        margin-top: 100px;
    }
    .motivasi p {
        font-size: 16px;
        text-align: center;
    }

    .judul p {
        font-size: 30px;
    }

    .judul span {
        font-size: 16px;
    }

    .content .kiri span {
        font-size: 16px;
        margin: 0;
    }

    .content .kanan span {
        font-size: 16px;
    }

    .content {
        gap: 0;
        display: inline-block;
        margin-right: 0;
    }

    .p-1-kiri img {
        display: none;
    }

    .p-1-kiri p {
        margin-left: 0;
        position: absolute;
        display: inline-block;
        text-align: left;
        text-align: center;
        font-size: 18px;
    }

    .p-1-tengah p {
        padding: 0;
        margin-left: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 0;
    }

    .p-posisi p {
        margin: 0;
        margin-top: 0;
        line-height: 5px;
        font-size: 15px;
        position: absolute;
        display: inline-block;
    }

    .p-1-kanan img {
        margin: 0;
        display: none;
    }

    .sekolah-1 span {
        margin: 0;
        position: absolute;
        font-size: 20px;
    }

    .s-1-tengah p {
        display: none;
    }

    .s-jurusan p {
        margin-top: 35px;
        font-size: 14px;
    }

    .sekolah-1 span {
        margin: 0;
        position: absolute;
        font-size: 20px;
    }

    .s-2-tengah p {
        display: none;
    }

    .s-jurusan p {
        margin-top: 35px;
        font-size: 14px;
    }
    .s-1-kanan img {
        display: none;
    }

    .s-2-kanan img {
        display: none;
    }
}
